.slide img{min-width: 1350px; height: 760px;}
.login-container {
  position: absolute;
  right: 10%;
  bottom: 0px;
  top: 100px;
  left: 70%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #7B7B7B;
  text-align: center;
}
.profile-img {
  width:100px;
  height:100px;
  border-radius:100px;
}
.menu-center {
    text-align: center;
    color: white;
}